* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #ff9900;
    overflow-x: hidden;
}
#about > div.biography > p{
    font-family: Verdana;
    font-weight: bold;
}
header {
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

header .logo {
    font-size: 1.5rem;
    font-weight: bold;
    /*color: #333;*/
    color: forestgreen;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #f90;
}

section {
    padding: 8rem 2rem 2rem;
    text-align: center;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);

}

.content {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.intro {
    /*flex: 1;*/
    padding: 120px;
    width: 50%;
    /*display: flex;*/
    /*justify-content: left;*/
    font-size: 20px;
}
.intro p{
    text-align: center;
    font-size: 20px;
}
.photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

.photo img {
    width: 1500px;
    max-width: 360px;
    height: auto;
    border: 1.5px solid black;
    /*border-radius: 10px;*/
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);
}

.hello-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
    position: relative;
    left: 180px;
}

.hello {
    background: forestgreen;
    box-shadow: 0 2px 10px rgba(237, 17, 17, 0.1);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 20px;
}


.iam {
    background: forestgreen;
    font-size: 20px;
    color: #333;
    text-align: center;
    background: forestgreen;
    box-shadow: 0 0px 10px rgba(237, 17, 17, 0.1);
    /*background-color: lightgoldenrodyellow;*/
    /*box-shadow: 0px 0px 20px  rgba(21, 135, 35, 0.74);*/
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-right: 0.5rem;
    font-size: 20px;
    position: relative;
    right: 15px;
}

h1 {
    font-size: 3rem;
    color: #666;
    margin: 1rem 0;
    text-align: center;
    color: forestgreen;
}

h2 {
    font-size: 2rem;
    /*color: #666;*/
    color: forestgreen;
    text-align: left;
    position: relative;
    left: 280px;
    /*top: -90px;*/
}
#about > div > p{
    width: 100%;
    padding: 50px;
    position: relative;
    top: -25px;
}
h2 span {
    color: #f90;
}

p {
    font-size: 1rem;
    color: #555;
    text-align: left;
}

#about, #hobbies, #contact {
    /*background: #f4f4f4;*/
    background: rgba(29, 205, 159, 0.7);
}

footer {
    /*background: #333;*/
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
}
#contact {
    background: #f5f5f5;
    padding: 60px 0;
    background: rgba(255, 255, 255, 0.7);
    height: 69vh;

}

.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-details {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    position: relative;
    bottom: -100px;
}

.contact-details h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
    position: relative;
    left: -90px;
    font-family: Verdana;
}

.contact-details h1 span {
    color: forestgreen;
}

.contact-details p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    font-size: 18px;
}

.contact-details .social-icons {
    margin-top: 20px;
}

.contact-details .social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-details .social-icons a:hover {
    color: #f39c12;
}

.contact-form {
    flex: 1;
    /*min-width: 300px;*/
    /*background: #fff;*/
    padding: 20px;
    box-shadow: 0 2px 10px rgba(237, 17, 17, 0.1);
    border-radius: 5px;
    position: relative;
    top: 100px;
}
#about{
    height: 69vh;
    background: repeating-linear-gradient(45deg, orange, transparent 100px);
}
#hobbies{
    height: 69vh;
    background: repeating-linear-gradient(45deg, orange, transparent 100px);
}
.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.contact-form button {
    background: forestgreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: orange;
}
a{
    text-decoration: none;
}
footer p{
    font-size: larger;
    color: forestgreen;
    position: relative;
    top: 0px;
}
#contact > div > div > div > a:nth-child(1) > img{
    max-width: 30px;
    height: 30px;
}
/*.biography {*/
/*    width: 500px;*/
/*    height: 650px;*/
/*    padding: 20px;*/
/*    background: orange;*/
/*    box-shadow: 0 0 20px rgba(239, 7, 7, 0.2);*/
/*    transition: 0.7s;*/
/*    margin: 20px auto;*/
/*    text-align: left;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
.biography{
    width: 40%;
    float: right;
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);
    text-align: center;
    position: relative;
    bottom: 500px;
    left: -150px;
}
/*#hobbies > div > div:nth-child(2){*/
/*    width: 25%;*/
/*    float: left;*/
/*    background-color: lightgoldenrodyellow;*/
/*    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);*/
/*    text-align: center;*/
/*}*/
/*#hobbies > div > div:nth-child(3){*/
/*    width: 25%;*/
/*    float: left;*/
/*    background-color: lightgoldenrodyellow;*/
/*    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);*/
/*    text-align: center;*/
/*}*/
/*#hobbies > div > div:nth-child(4){*/
/*    width: 25%;*/
/*    float: left;*/
/*    background-color: lightgoldenrodyellow;*/
/*    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);*/
/*    text-align: center;*/
/*}*/
/*#hobbies > div > h1{*/
/*    display: none;*/
/*}*/
#hobbies {
    background: repeating-linear-gradient(45deg, orange, transparent 100px);
    padding: 50px 0;
}
#hobbies > div > h1{
    display: none;
}
.hobby-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.hobby {
    width: 30%;
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.hobby h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    position: relative;
    left: 62px;
}

.hobby p {
    font-size: 1.1em;
    color: #333;
}

@media (max-width: 768px) {
    .hobby {
        width: 100%;
    }
}
#about > div.photo1 > img{
    width: 500px;
    height: 500px;
    max-width: 360px;
    position: relative;
    right: 500px;
    top: -55px;
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);
}
.photo2,.photo3,.photo4{
    width: 100%;
}
#hobbies > div > div:nth-child(2) > div > img{
    width: 100%;
    height: 222px;
    position: relative;
    top: 10px;
}
#hobbies > div > div:nth-child(3) > div > img{
    width: 100%;
}
#hobbies > div > div:nth-child(4) > div > img{
    width: 100%;
}
#hobbies > div > div:nth-child(4){
    position: relative;
    left: 500px;
    width: 350px;
}
#hobbies > div > div:nth-child(3){
    /*position: relative;*/
    /*left: 350px;*/
    /*width: 400px;*/
    position: relative;
    left: 350px;
    width: 350px;
}
#hobbies > div > div:nth-child(2){
    position: relative;
    /*left: 250px;*/
    /*width: 300px;*/
    width: 350px;
    height: 450px;
    left: 200px;
}
.contact-form{
    width: 40%;
    float: right;
    background-color: lightgoldenrodyellow;
    box-shadow: 0px 0px 20px rgba(21, 135, 35, 0.74);
    text-align: center;
    position: relative;
    bottom: 500px;
    left: 50px;
}